<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WeatherAPIKey" value="2cecb5be7abcc5b409f27f3925040159"/>
    <add key="WeatherCity" value="Sønderborg"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  <connectionStrings>
    <add name="Standard" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Cycling;Integrated Security=True" />
  </connectionStrings>

</configuration>
